/* Main Css Stylesheet for Gala Cafe Online Ordering System - Created by Alfred
	=== July 2015 ===
*/

/* body {
	background: url('../images/loginbackground.jpg') top center no-repeat;
	color: #fff;
} */

/* ====== KEY FRAME ====== */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ====== Global Style ====== */
body {
	overflow: auto;
}
#header {
	text-align: center;
}
#header .main_title {
	margin: 0 auto;
	padding: 10px 0;
	width: 200px;
}
#header #main_logo {
	background: #666 url('../images/menu_background.png') no-repeat center -40px;
}
#header .shopping_cart_nav {
	position: fixed;
	right: 6%;
	bottom: 40px;
	display: block;
	z-index: 9999;
	transition: bottom 0.2s ease-in-out;
	-webkit-transition: bottom 0.2s ease-in-out;
	-moz-transition: bottom 0.2s ease-in-out;
}
#header .shopping_cart_nav div#cart_pop {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	padding: 10px 0;
	background: #111; /* #335ab7 */
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	left: 10%;
	border-radius: 9999px;
	border: 2px solid #ccc;
}
#header .shopping_cart_nav div#cart_pop:hover {
	background: #555;
}
#header .shopping_cart_nav div#cart_pop .cart_icon {
	background: url('../images/cart_icon.png') left top;
	height: 35px;
	width: 35px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#header .shopping_cart_nav div#cart_pop .quantity_number {
	font-size: 18px;
	padding: 3px 8px;
	border-radius: 555px;
	background: #ff0000;
	line-height: 20px;
	position: absolute;
	bottom: -3px;
    right: 38px;
}
#header .shopping_cart_nav div#cart_pop .cart_subtotal {
	margin-left: 40px;
}
#header #shopping_cart_wrap {
	position: fixed;
	top: 0px;
	padding-top: 60px;
	padding-bottom: 180px;
	width: 100%;
	background: #f0f0f0;
	z-index: 9000;
	display: none;
	font-size: 18px;
	transition: bottom 0.2s ease-in-out;
	-webkit-transition: bottom 0.2s ease-in-out;
	-moz-transition: bottom 0.2s ease-in-out;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
    max-height: 500px;
    overflow: scroll;
	-webkit-box-shadow: 0 20px 50px #333; /* Safari, Chrome and Opera > 12.1 */
       -moz-box-shadow: 0 20px 50px #333; /* Firefox < 16 */
        -ms-box-shadow: 0 20px 50px #333; /* Internet Explorer */
         -o-box-shadow: 0 20px 50px #333; /* Opera < 12.1 */
            box-shadow: 0 20px 50px #333;
    text-align: center;
    border-bottom: 5px solid #337ab7;
}
#header #shopping_cart_wrap.cart_down {
	/* bottom: -30px; */
}
#header #close_cart {
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1111;
	transition: bottom 0.2s ease-in-out;
	-webkit-transition: bottom 0.2s ease-in-out;
	-moz-transition: bottom 0.2s ease-in-out;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
/*  --------------  Cart  --------------  */
#shopping_cart_wrap .empty_cart {
	padding: 30px 0;
}
#shopping_cart_wrap .online_gift {
    margin: 0 auto 10px;
    padding: 10px;
    border: 2px solid #a33235;
    background: #fff;
    color: #a33235;
    width: 80%;
    font-size: 14px;
}
#shopping_cart_wrap .online_gift_has_item {
	display: block;
    margin: 10px auto 0px;
    padding: 4px 0px;
    border: 2px solid #a33235;
    background: #fff;
    color: #a33235;
    width: 60%;
    font-size: 12px;
}
#header #shopping_cart_wrap thead tr.total {
	background: #337ab7;
	width: 100%;
	display: block;
}
#header #shopping_cart_wrap thead tr.total td {
	color: #fff;
}
/* #header #shopping_cart_wrap thead tr.total td:nth-child(1) {
	width: 32%;
}
#header #shopping_cart_wrap thead tr.total td:nth-child(2) {
	width: 23%;
}
#header #shopping_cart_wrap thead tr.total td:nth-child(3) {
	width: 28%;
}
#header #shopping_cart_wrap thead tr.total td:nth-child(4) {
	width: 13%;
} */
#header #shopping_cart_wrap thead tr.total td:nth-child(1) {
	width: 66%;
	display: table-cell;
}
#header #shopping_cart_wrap thead tr.total td:nth-child(2) {
	width: 0%;
	display: table-cell;
}


#header #shopping_cart_wrap tr td:nth-child(1) {
	width: 32%;
	display: table-cell;
}
#header #shopping_cart_wrap tr td:nth-child(2) {
	width: 23%;
	display: table-cell;
}
#header #shopping_cart_wrap tr td:nth-child(3) {
	width: 28%;
	display: table-cell;
}
#header #shopping_cart_wrap tr td:nth-child(4) {
	width: 13%;
	display: table-cell;
	min-width: 54px;
}
#header #shopping_cart_wrap .submit_form {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 10px 0 15px;
	margin: 0;
	/* background: #dedede;
	-webkit-box-shadow: 0 5px 20px #333;
       -moz-box-shadow: 0 5px 20px #333;
        -ms-box-shadow: 0 5px 20px #333;
         -o-box-shadow: 0 5px 20px #333;
            box-shadow: 0 5px 20px #333; */
}
#shopping_cart_wrap #empty {
	color: #fff;
	background: #ff0000;
	padding: 0;
	margin: 0 auto;
	font-size: 12px;
	border-radius: 555px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 21px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 2px #a80000; /* Safari, Chrome and Opera > 12.1 */
       -moz-box-shadow: 1px 1px 2px #a80000; /* Firefox < 16 */
        -ms-box-shadow: 1px 1px 2px #a80000; /* Internet Explorer */
         -o-box-shadow: 1px 1px 2px #a80000; /* Opera < 12.1 */
            box-shadow: 1px 1px 2px #a80000;
    text-align: center;
}
#shopping_cart_wrap p.submit_form input.btn.btn-primary {
	width: 85%;
	background: #fff;
	color: #2e6da4;
	/* border: 2px solid #fff; */
}
/* #header #shopping_cart_wrap form {
	padding-bottom: 40px;
} */
#header #shopping_cart_wrap form table {
	font-size: 16px;
}
#header #shopping_cart_wrap form table thead {
	border-bottom: 1px solid #999;
    /* line-height: 36px; */
    position: fixed;
    top: 0;
    width: 100%;
}
#header #shopping_cart_wrap form table thead small {
	font-size: 60%;
	font-weight: normal;
	display: block;
}
#header #shopping_cart_wrap form table tbody {
	line-height: 36px;
}
#header #shopping_cart_wrap form table tbody tr {
	line-height: 40px;
}
#header #shopping_cart_wrap form table tbody tr.taxes,
#header #shopping_cart_wrap form table tbody tr.total {
	background: #337ab7;
	color: #fff;
}
#header #shopping_cart_wrap form table tbody tr.alt,
#cart_on_submit form tbody tr.alt {
	background: #dfdfdf;
}
#header #shopping_cart_wrap form table tbody tr td,
#header #shopping_cart_wrap form table thead tr td {
	text-align: center;
}
#header #shopping_cart_wrap form table tbody tr td.remove span {
	color: #fff;
	background: #337ab7;
	font-size: 12px;
	border-radius: 555px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 21px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 2px #aaa; /* Safari, Chrome and Opera > 12.1 */
       -moz-box-shadow: 1px 1px 2px #aaa; /* Firefox < 16 */
        -ms-box-shadow: 1px 1px 2px #aaa; /* Internet Explorer */
         -o-box-shadow: 1px 1px 2px #aaa; /* Opera < 12.1 */
            box-shadow: 1px 1px 2px #aaa;
    text-align: center;
}
#header #shopping_cart_wrap form table tbody tr td .user_dish_qty {
	width: 40px;
	line-height: 24px;
	text-align: center;
}
.shopping_cart {
	width: 100%;
	vertical-align: top;
    background: #f0f0f0;
    z-index: 9999;
    padding: 5px 10px 1px;
}
.shopping_cart.fixed {
	position: fixed;
    left: 0;
    top: 0;
    clear: both;
    padding: 0 10px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.shopping_cart h3 {
	margin: 5px 0;
}
.cart_wrapper tr.taxes {
	border-top: 1px solid #ccc;
	padding: 10px 0;
	margin: 10px 0;
	height: 30px;
	font-weight: bold;
}
.cart_wrapper tr.total {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	margin: 10px 0;
	height: 30px;
	width: 100%;
	font-weight: bold;
}
.shopping_cart .submit_form {
	margin-top: 10px;
}
#header .main_nav {
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
	white-space: nowrap; /* IMPORTANT CSS TRICK to prevent block wrapping */
}
#header .main_nav li {
	width: 100px;
	display: inline-block;
	overflow : hidden;
}
#header .main_nav li a {
	padding-left: 0;
	padding-right: 0;
}
.wrapper { /* MODIFY for responsive looking */
	/* max-width: 1024px; */
	margin: 0 auto;
	/* padding: 0 3%; */
}
.wrapper > #back_end_control_panel > ul {
	padding: 0;
}
.wrapper h1 {
	text-align: center;
}
#footer {
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
#footer .footer_link_s {
	font-size: 14px;
}
#footer .footer_link_s a {
	color: #777;
	text-decoration: underline;
}
/* ====== Index Page（Add Dishes Page） ====== */
#main_nav {
	width: 100%;
	min-width: 375px;
	height: 599px;
	background: url('../images/menu_background.png') no-repeat center bottom;
	background-size: 100%; 
	vertical-align: top;
	z-index: 1000;
	/* transition: top 0.5s ease-in-out;
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out; */
	position: relative;
}
@media only screen and (min-width: 961px) {
	#main_nav {
		background-size: 960px;
	}
}
#main_nav.fixed {
	position: fixed;
	top: 0;
}
#user_log {
	margin: 0 auto;
	max-width: 960px;
	min-width: 375px;
}
/* logo part */

#main_logo {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	min-width: 375px;
	text-align: center;
}
#main_logo a {
	display: block;
	width: 100%;
}
#main_logo a img {
	width: 80%;
	padding: 30px 0;
}
/* login part */
#user_log.sub_nav {	
	display: block;
	width: 100%;
}
#main_nav.nav-up {
	top: -599px;
}
#user_log.sub_nav ul {
	padding: 0;
	margin-bottom: 0;
	height: 39px;
}
#user_log.sub_nav ul li {
	display: inline-block;
	width: 50%;
}
#user_log.sub_nav ul li a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px 0;
	background: #111; /* #335ab7 */
	color: #fff;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	font-size: 20px;
}
#user_log.sub_nav ul li:last-child a {
	border-right: none;
}
#user_log.sub_nav ul li a:hover {
	text-decoration: none;
	background: #555;
}
/* nav_switch */
#main_nav_switch {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;
	display: none;
	transition: top 0.5s ease-in-out;
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	z-index: 1;
}
#main_nav_switch .switch_helper {
	max-width: 960px;
	min-width: 375px;
    margin: 0 auto;
    display: block;
    text-align: initial;
    position: relative;
}

/* #main_nav_switch .show_all_cat {
	width: 15%;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 0 0 8px 8px;
	padding: 10px 0;
	background: rgba(0,0,0,0.9);
	cursor: pointer;
	margin-right: 320px;
	display: inline-block;
	min-width: 150px;
} */
#main_nav_switch .show_history,
#main_nav_switch .show_all_cat {
	width: 50px;
	height: 44px;
	position: absolute;
	cursor: pointer;
}
#main_nav_switch .show_history {
	background: url('../images/menu_history.png') no-repeat center center;
	left: 10px;
}
#main_nav_switch .show_all_cat {
	background: url('../images/menu_dots.png') no-repeat center center;
	right: 0;
}
/* #main_nav_switch p {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
#main_nav_switch p .wrap {
	display: block;
	background: rgba(255,255,255,0.9);
	color: #111;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 10px 8px 0;
	text-align: right;
	max-width: 450px;
	margin: 0 auto;
	-webkit-box-shadow: 0 5px 30px #666;
       -moz-box-shadow: 0 5px 30px #666; 
        -ms-box-shadow: 0 5px 30px #666; 
         -o-box-shadow: 0 5px 30px #666; 
            box-shadow: 0 5px 30px #666;
} */
.up_arrow {
	width: 0; 
  	height: 0; 
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  
  	border-top: 5px solid #fff;
  	position: relative;
  	top: 10px;
}
#main_nav_switch.show {
	display: block;
}
/* categories part */
#main_cat {
	margin: 0 auto;
	max-width: 960px;
	min-width: 375px;
	text-align: center;
	border: none;
}
#main_cat.nav.nav-tabs > li {
	float: none;
	display: inline-block;
	width: 100px;
	height: 60px;
	margin: 3px 0;
}
#main_cat.nav.nav-tabs:-webkit-scrollbar { 
    display: none; 
}
#main_cat.nav.nav-tabs li.active a {
	color: #000;
	background: rgba(255,255,255,0.8);
}
#main_cat.nav.nav-tabs li a {
	color: #fff;
	border-radius: 8px;
	border: none;
	font-size: 18px;
	padding: 10px;
}
#main_cat.nav.nav-tabs li a:hover,
#main_cat.nav.nav-tabs li a:active,
#main_cat.nav.nav-tabs li a:focus {
	color: #000;
}
/* What to eat button */
#what_to_eat {
	margin-top: 40px;
}
#what_to_eat a {
	text-align: center;
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid #fff;
	color: #fff;
	display: block;
	width: 300px;
	margin: 0 auto;
	cursor: pointer;
}
/* close button */
#close_nav {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	position: absolute;
	/* bottom: -40px; */
	bottom: 40px;
	display: none;
}
#close_nav.show {
	display: block;
}
#close_nav .close_nav_btn {
	margin: 0 auto;
	display: block;
	max-width: 960px;
	min-width: 375px;
	/* background: rgba(0,0,0,0.9); */
	padding: 10px 0;
	cursor: pointer;
}
.down_arrow {
	width: 0; 
  	height: 0; 
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  
  	border-bottom: 5px solid #fff;
  	position: relative;
  	bottom: 10px;
}
/*  -------------  Main Dishes  -------------  */
.dishes_wrap {
	width: 100%;
	vertical-align: top;
	display: block;
	max-width: 960px;
	min-width: 375px;
	margin: 0 auto;
}
.dishes_wrap .tab-content>.tab-pane {
	display: block;
}
.dishes_wrap.fix_helper {
	padding-top: 599px; /* 130px */
}
.dishes_wrap .scroll_helper {
	width: 100%;
	overflow: scroll;
}

.pre_addon_wrap {
	height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #ccc; /* #eb7805 */
    color: #111;
    cursor: pointer;
    border: 1px solid #fff;
    border-top: none;
    list-style: none;
    display: none;
}
.pre_addon_wrap.show {
	display: block;
}
.pre_addon_wrap .show_dish_addon {
	padding-top: 8px;
	font-size: 16px;
}
.pre_addon_wrap .show_dish_addon span {
	font-weight: bold;
	text-decoration: underline;
}
.dish_addon_wrap {
	border-bottom: 4px solid #f0f0f0;
	width: 100%;
	display: none !important;
	transition: bottom 0.2s ease-in-out;
	-webkit-transition: bottom 0.2s ease-in-out;
	-moz-transition: bottom 0.2s ease-in-out;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.dish_addon_wrap.show {
	display: block;
}
.dish_addon_wrap .single_addon {
	width: 14.28%;
	display: inline-block !important;
	vertical-align: top;
	position: relative;
	height: 81px;
	border: 1px solid #335ab7;
	background: #f0f0ff;
	cursor: pointer;
}
.dish_addon_wrap .single_addon h3 {
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	width: 100%;
	position: absolute;
	z-index: 999;
}
.dish_addon_wrap .single_addon h6 {
	font-size: 10px;
	text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dish_addon_wrap .single_addon form {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.dish_addon_wrap .single_addon form.selected {
	background: rgba(0, 0, 0, 0.6);
}
.dish_addon_wrap .single_addon form input[type="submit"] {
	cursor: pointer;
	font-size: 50px;
	background: none;
	border: none;
	opacity: 0.1;
	display: block;
	width: 100%;
	height: 100%;
}
.dish_addon_wrap .single_addon form.selected input[type="submit"] {
	color: #fff;
	opacity: 0.9;
}
/* ================================================================== */
/* ==================== Customize Layout Start ====================== */
/* ================================================================== */
/* .dishes_wrap #appetizer .category_wrap .single_dish:nth-child(1) {
	position: absolute;
	right: 0;
} */
.dishes_wrap .tab-pane:nth-child(1) .category_title {
	background: #6186a3;
	border-top: 2px solid #446986;
}
.dishes_wrap .tab-pane:nth-child(2) .category_title {
	background: #89658b;
	border-top: 2px solid #743577;
}
.dishes_wrap .tab-pane:nth-child(3) .category_title {
	background: #cd8183;
	border-top: 2px solid #a33235;
}
.dishes_wrap .tab-pane:nth-child(4) .category_title {
	background: #f3a87e;
	border-top: 2px solid #d27846;
}
.dishes_wrap .tab-pane:nth-child(5) .category_title {
	background: #d3ca93;
	border-top: 2px solid #a2985b;
}
.dishes_wrap .tab-pane:nth-child(6) .category_title {
	background: #a83d67;
	border-top: 2px solid #7b183f;
}
.dishes_wrap .tab-pane:nth-child(7) .category_title {
	background: #dc5f5d;
	border-top: 2px solid #b1302e;
}
.dishes_wrap .tab-pane:nth-child(8) .category_title {
	background: #f78f58;
	border-top: 2px solid #ce6630;
}
.dishes_wrap .tab-pane:nth-child(9) .category_title {
	background: #dfbd75;
	border-top: 2px solid #b98f37;
}
.dishes_wrap .tab-pane:nth-child(10) .category_title {
	background: #cd8183;
	border-top: 2px solid #953a3d;
}
.dishes_wrap .tab-pane:nth-child(11) .category_title {
	background: #f78f58;
	border-top: 2px solid #dfbd75;
}
.dishes_wrap .tab-pane:nth-child(12) .category_title {
	background: #d3ca93;
	border-top: 2px solid #d3ca93;
}
.dishes_wrap .category_title {
	padding: 10px 10px 10px 0;
	margin: 0;
	background: #f0f0f0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	border-top: 2px solid #337ab7;
}
.dishes_wrap .category_wrap {
	padding-left: 0;
	margin-bottom: 0;
}
.dishes_wrap .single_dish {
	/* height: 152px;
	border: 1px solid transparent; */
	margin-bottom: 2px;
	display: block;
	word-wrap: break-word;
	position: relative;
	overflow: hidden;
}
.dishes_wrap .single_dish.no-pic {
	/* height: 55px; */
}
.dishes_wrap .single_dish h3,
.dishes_wrap .single_dish h6 {
	/* width: 100%;
	text-align: center; */
	display: block;
	margin: 0;
	text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-o-text-shadow: 2px 2px 2px #000;
	color: #fff;
	font-weight: normal;
	position: absolute;
}
.dishes_wrap .single_dish small {
	display: inline-block;
	margin: 0 0 0 10px;
	text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-o-text-shadow: 2px 2px 2px #000;
	color: #fff;
	font-weight: normal;
}
.dishes_wrap .single_dish img {
	max-width: 960px;
	min-width: 375px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    display: block;
}
.dishes_wrap .single_dish h3 {
	font-size: 16px;
	padding-top: 5px;
	bottom: 40px;
	left: 10px;
	color: #f0f0f0;
}
.dishes_wrap .single_dish h6 {
	font-size: 10px;
	overflow: hidden;
	bottom: 24px;
	left: 10px;
	line-height: 14px;
}
.dishes_wrap .single_dish.no-pic h3 {
	bottom: 20px;
}
.dishes_wrap .single_dish.no-pic h6 {
	bottom: 4px;
}
.dishes_wrap .single_dish.no-pic form input[type="submit"],
.dishes_wrap .single_dish.no-pic .order_qty {
	line-height: 60px;
	padding-top: 0;
}
.dishes_wrap .single_dish small {
	font-size: 14px;
	bottom: 46px;
	right: 10px;
}
.dishes_wrap .single_dish.no-pic h3,
.dishes_wrap .single_dish.no-pic h6,
.dishes_wrap .single_dish.no-pic small {
	color: #efefef;
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-o-text-shadow: none;
}
/* .dishes_wrap .single_dish .parallax-window {
	min-height: 100px;
	position: relative;
} */
.dishes_wrap .single_dish:hover h3,
.dishes_wrap .single_dish:hover h6,
.dishes_wrap .single_dish:hover small,
.dishes_wrap .single_dish:active h3,
.dishes_wrap .single_dish:active h6,
.dishes_wrap .single_dish:active small,
.dishes_wrap .single_dish.active h3,
.dishes_wrap .single_dish.active h6,
.dishes_wrap .single_dish.active small {
	/* opacity: 0.75; */
	z-index: 888;
}
.dishes_wrap .single_dish form input[type="submit"],
.dishes_wrap .single_dish .order_qty {
	position: absolute;
	/* height: 100px;
	height: 88px; */
	height: 100%;
	line-height: 145px;
	bottom: 0;
	background: transparent;
	border: none;
	text-indent: -9999px;
	font-size: 50px;
	color: #fff;
	margin: 0;
}
@media only screen and (min-width: 767px) {
	.dishes_wrap .single_dish form input[type="submit"],
	.dishes_wrap .single_dish .order_qty {
		line-height: 350px;
	}
	.dishes_wrap .single_dish.no-pic form input[type="submit"],
	.dishes_wrap .single_dish.no-pic .order_qty {
		line-height: 120px;
	}
	.dishes_wrap .single_dish.no-pic h3 {
		bottom: 40px;
	}
	.dishes_wrap .single_dish.no-pic h6 {
		bottom: 24px;
	}
}
.dishes_wrap .single_dish.no-pic span {

}
.dishes_wrap .single_dish.no-pic .order_qty span {
	line-height: 51px;
}
.dishes_wrap .single_dish:hover .order_qty,
.dishes_wrap .single_dish:active .order_qty,
.dishes_wrap .single_dish.active .order_qty {
	width: 100%;
	text-align: center;
	text-indent: 0;
	z-index: 1;
	padding-top: 0px;
	background: rgba(0,0,0,0.3);
}
.dishes_wrap .single_dish form.min_dish_form input[type="submit"] {
	right: 0;
	width: 20%;
}
.dishes_wrap .single_dish form.add_dish_form input[type="submit"] {
	left: 0;
	width: 80%;
}
.dishes_wrap .single_dish:hover form input[type="submit"],
.dishes_wrap .single_dish:hover form p.order_qty,
.dishes_wrap .single_dish.active form input[type="submit"],
.dishes_wrap .single_dish.active form p.order_qty {
	text-indent: 0;
	z-index: 99;
}
/* .dishes_wrap .single_dish form input[type="submit"]:hover {
	background: rgba(255,255,0,0.3);
} */
.dishes_wrap .single_dish form input[type="submit"]:active,
.dishes_wrap .single_dish form input[type="submit"]:hover,
.dishes_wrap .single_dish form input[type="submit"]:visited {
	border: none !important;
}
.dishes_wrap .single_dish form p.order_qty {
	text-align: center;
	width: 30%;
	position: absolute;
	top: 0;
	left: 35%;
	font-size: 50px;
	text-indent: -9999px;
	line-height: 100px;
}
/* ================================================================ */
/* ==================== Customize Layout End ====================== */
/* ================================================================ */

/* ====== Order Submit Page ====== */
#user_info_submit {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 80%;
}
#user_info_submit form input {
	padding-right: 12px;
}
#user_info_submit .additional_info,
#user_info_submit .delivery_method,
#user_info_submit .delivery_address {
	margin-bottom: 20px;
}
#user_info_submit .additional_info {
	height: 100px;
}
#user_info_submit .delivery_method:nth-child(3) {
	margin-left: 10px;
}
#user_info_submit label {
	padding-left: 6px;
}
#user_info_submit .delivery_address {
	height: 50px;
	display: none;
}
#user_info_submit .delivery_address.show {
	display: block;
}
#cart_on_submit {
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
}
#cart_on_submit .taxes {
	border-top: 1px solid #ccc;
}
#cart_on_submit .total {
	border-bottom: none;
}
#cart_on_submit .submit_form,
#cart_on_submit .remove {
	display: none;
}
#cart_on_submit form table thead {
	border-bottom: 1px solid #999;
    line-height: 36px;
    margin-bottom: 10px;
    text-align: center;
}
#cart_on_submit form table tbody tr {
	line-height: 30px;
}
#cart_on_submit form table tbody tr.taxes,
#cart_on_submit form table tbody tr.total {
	background: #337ab7;
	color: #fff;
}
#cart_on_submit form table tbody tr.total td:nth-child(3) {
	padding-bottom: 10px;
}
#cart_on_submit form table tbody tr.total small {
	font-size: 60%;
	display: block;
	line-height: 8px;
	position: relative;
	top: -8px;
}
#cart_on_submit form tbody td {
	width: 25%;
	text-align: center;
}
#cart_on_submit form tbody tr td .user_dish_qty {
	width: 40px;
	line-height: 24px;
	text-align: center;
	border: none;
}
#cart_on_submit form tbody tr.alt td .user_dish_qty {
	background: #dfdfdf;
}
#cart_on_submit #empty {
	display: none;
}
/* ====== User Login Page ====== */
.login_form .sign_up {
	margin-left: 20px;
}
.login_form .forgot_pass,
.login_form .back_btn {
	padding-left: 20px;
	text-decoration: underline;
}
/* =====  User Profile Page ===== */
#back_end_profile {
	width: 100%;
	max-width: 960px;
	min-width: 375px;
	margin: 30px auto 10px;
}
#back_end_profile ul.nav li {
	display: inline-block;
	width: 50%;
	text-align: center;
	border-bottom: 3px solid #777;
	border-radius: 0;
}
#back_end_profile ul.nav li a:hover {
	background: #ccc;
}
#back_end_profile ul.nav li.active {
	border-bottom: 3px solid transparent;
	border-top: 3px solid #777;
	border-left: 3px solid #777;
	border-right: 3px solid #777;
	border-radius: 5px 5px 0 0;
	background: #777;
}
#back_end_profile ul.nav li.active a {
	color: #fff;
	background: #777;
}
#back_end_profile ul.nav li.active a:hover {
	color: #fff;
	background: #777;
}
#back_end_profile #order_history {
	width: 100%;
	overflow: auto;
}
#back_end_profile #order_history table {
	width: 100%;
	min-width: 600px;
	overflow: scroll-x;
	text-align: center;
}
#back_end_profile #order_history table th {
	text-align: center;
	height: 50px;
	background: #ccc;
	border-bottom: 3px solid #aaa;
}
#back_end_profile #order_history table .order_single {
	border-top: 5px solid transparent;
	padding-bottom: 5px;
}
#back_end_profile #order_history table .details th {
	background: #fff;
	border-top: 5px double #333;
	border-bottom: 1px solid #333;
}
#back_end_profile #order_history table .details {
	background: #f0f0f0;
}
#back_end_profile #order_history table td {
	width: 20%;
}
#back_end_profile #order_history table tr.odd {
	background: #ddd;
}
#back_end_profile ul.nav.nav-tabs {
	background: #f0f0f0;
	padding-top: -10px;
	border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}
#back_end_profile ul.nav.nav-tabs li:first-child {
	margin-left: 2%;
}
#back_end_profile ul.nav.nav-tabs li {
	width: 16%;
	text-align: center;
}
/* ====== Admin Login Page ====== */
.login_form {
	width: 100%;
	max-width: 600px;
	background: #f0f0f0;
	border: 1px solid white;
	margin: 0 auto 250px;
	padding: 40px 20px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align: center;
}
.login_form h1 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 24px;
}
.login_form .form-group {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
}
.login_form input[type="text"],
.login_form input[type="password"] {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto 15px;
}
.login_form .login_error {
	color: #9e0404;
	font-size: 16px;
	margin-top: 10px;
}
.login_form .signup_error {
	color: #9e0404;
	font-size: 16px;
}
/* ====== Admin Control Panel Page ====== */
/*  --------------  Menu  --------------  */
#back_end_control_panel ul.nav.nav-tab {
	margin-bottom: 10px;
}
#back_end_control_panel ul.nav li {
	width: 20%;
	text-align: center;
	background: #fafafa;
}
/*  ---------- Put Order Page ----------  */
#put_order {
	padding-top: 10px;
	min-height: 400px;
	min-width: 350px;
	padding-bottom: 20px;
	background: #000;
	color: #fff;
}
#put_order #basic_info {
	margin-bottom: 10px;
}
#put_order #basic_info input#table_id {
	width: 30px;
	padding: 6px 10px;
}
#put_order #basic_info label {
	margin: 0 10px;
}
#put_order #basic_info select {
	margin-left: 10px;
	display: none;
}
#put_order #basic_info select,
#put_order #basic_info option,
#put_order #total_sum {
	color: #000 !important;
}
#put_order #total_sum {
	display: inline-block;

 font-size: 20px;	margin: 0 5px;
	color: #ffffff !important;
	font-weight: bold;
	padding: 8px 5px;
	background: #000;
}
#put_order #dishes_order {
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
#put_order #dishes_order_title {
	padding: 10px 0;
}
#put_order .put_order_input_a {
	max-width: 80px;
	display: inline-block;
	margin: 0 auto;
}
#put_order .put_order_input_b {
	width: 80px;
	margin: 0 auto;
	display: inline-block;	text-align: center;
}
#put_order .put_order_input_b.dish_input {
	width: 100px;
}
#put_order .put_order_input_b.quantities {
	width: 40px;
}
#put_order #dishes_order .dishes_row {
	padding-bottom: 15px;
}
#put_order #dishes_order .dishes_row_3,
#put_order #dishes_order .dishes_row_4,
#put_order #dishes_order .dishes_row_5,
#put_order #dishes_order .dishes_row_6,
#put_order #dishes_order .dishes_row_7,
#put_order #dishes_order .dishes_row_8,
#put_order #dishes_order .dishes_row_9,
#put_order #dishes_order .dishes_row_10,
#put_order #dishes_order .dishes_row_11,
#put_order #dishes_order .dishes_row_12,
#put_order #dishes_order .dishes_row_13,
#put_order #dishes_order .dishes_row_14,
#put_order #dishes_order .dishes_row_15,
#put_order #dishes_order .dishes_row_16,
#put_order #dishes_order .dishes_row_17,
#put_order #dishes_order .dishes_row_18,
#put_order #dishes_order .dishes_row_19,
#put_order #dishes_order .dishes_row_20,
#put_order #dishes_order .dishes_row_21,
#put_order #dishes_order .dishes_row_22,
#put_order #dishes_order .dishes_row_23,
#put_order #dishes_order .dishes_row_24,
#put_order #dishes_order .dishes_row_25 {
	display: none;
}
#put_order #dishes_order_submit {
	text-align: center;
	position: fixed;
	bottom: 10%;
	right: 10%;
}
/* #put_order #dishes_order_submit input[type="submit"] {
	margin-right: 20px;
} */
#put_order .error {
	color: #ff0000;
}
.autocomplete-suggestions {
	min-width: 200px;
}

/*  ---------- Order History page ----------  */
#back_end_control_panel #orderhistory ul.nav li {
	background: #fff;
	width: 33.33%;
	border-bottom: 3px solid #777;
	border-radius: 0;
	display: inline-block;
}
#back_end_control_panel #orderhistory ul.nav li a:hover {
	background: #ccc;
}
#back_end_control_panel #orderhistory ul.nav li.active {
	border-bottom: 3px solid transparent;
	border-top: 3px solid #777;
	border-left: 3px solid #777;
	border-right: 3px solid #777;
	border-radius: 5px 5px 0 0;
	background: #777;
}
#back_end_control_panel #orderhistory ul.nav li.active a {
	color: #fff;
	background: #777;
	border: none;
}
#back_end_control_panel #orderhistory ul.nav li.active a:hover {
	color: #fff;
	background: #777;
}
#back_end_control_panel #orderhistory {
	width: 100%;
	/* overflow: auto; */
}
/* #back_end_control_panel #orderhistory div.tab-pane {
	overflow: scroll;
} */
#back_end_control_panel #orderhistory table {
	width: 100%;
	min-width: 800px;
	overflow: scroll-x;
	text-align: center;
	border-bottom: 5px double #000;
}
#back_end_control_panel #orderhistory table th {
	text-align: center;
	height: 50px;
	border-bottom: 5px double #aaa;
}
#back_end_control_panel #orderhistory table thead th {
	background: #ffffbc;
}
#back_end_control_panel #orderhistory table .order_single {
	border-top: 5px solid transparent;
	padding-bottom: 5px;
}
#back_end_control_panel #orderhistory table .details_today,
#back_end_control_panel #orderhistory table .details_yesterday,
#back_end_control_panel #orderhistory table .details_older {
	display: none;
}
#back_end_control_panel #orderhistory table .details_today.show,
#back_end_control_panel #orderhistory table .details_yesterday.show,
#back_end_control_panel #orderhistory table .details_older.show {
	display: table-row !important;
}
#back_end_control_panel #orderhistory table .details th {
	background: #fff;
	border-top: 5px double #333;
	border-bottom: 1px solid #333;
}
#back_end_control_panel #orderhistory table .details {
	background: #f0f0f0;
}
#back_end_control_panel #orderhistory table td {
	width: 12.5%;
	padding: 5px 0;
}
#back_end_control_panel #orderhistory table tr.odd {
	background: #ddd;
}
/*  ---------- Order Details page ----------  */
#back_end_control_panel .tab-content {
	/* overflow-x: scroll; */
	/* width: 100%; */
}
#back_end_control_panel #orderdetail {
	background: #000;
	/* width: 1800px;
	overflow-x: scroll; */
	width: 2000px;
}
#back_end_control_panel #orderdetail .single_takeout_dish,
#back_end_control_panel #orderdetail .single_dish {
	margin-bottom: 0;
	cursor: pointer;
	/* text-align: center; */
	color: #000;
	display: inline-block;
	width: 100%;
}
#back_end_control_panel #orderdetail .single_dish .dish_qty_adj {
	width: 25px;
	margin-right: 1px;
	border: 1px solid #777;
	padding: 0;
}
#back_end_control_panel #orderdetail .single_dish:hover {
	text-decoration: none;
}
#back_end_control_panel #orderdetail .single_takeout_dish {
	padding: 2px 0;
}
#back_end_control_panel #orderdetail .single_dish {
	padding: 2px 0;
}
#back_end_control_panel #orderdetail .single_takeout_dish .dish_qty,
#back_end_control_panel #orderdetail .single_dish .dish_qty,
#back_end_control_panel #orderdetail .single_takeout_dish .dish_alpha,
#back_end_control_panel #orderdetail .single_dish .dish_alpha,
#back_end_control_panel #orderdetail .single_takeout_dish .dish_name,
#back_end_control_panel #orderdetail .single_dish .dish_name {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
#back_end_control_panel #orderdetail .single_takeout_dish .dish_alpha,
#back_end_control_panel #orderdetail .single_dish .dish_alpha {
/* 	margin-right: 5px; */
	width: 43px;
}
#back_end_control_panel #orderdetail .single_takeout_dish .dish_name,
#back_end_control_panel #orderdetail .single_dish .dish_name {
	width: 63px;
}
#back_end_control_panel #orderdetail .single_takeout_dish .dish_qty,
#back_end_control_panel #orderdetail .single_dish .dish_qty {
	/* margin-left: 5px; */
	width: 52px;
	font-size: 14px;
}
#back_end_control_panel #orderdetail .single_dish .dish_qty .total {
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}
#back_end_control_panel #orderdetail #take_out,
#back_end_control_panel #orderdetail #eat_in {
	display: inline-block;
	vertical-align: top;
	padding: 10px 5px;
	font-size: 12px !important;
	background: #000;
}#back_end_control_panel #orderdetail #take_out {margin-top: 45px;}
#back_end_control_panel #orderdetail #take_out a,
#back_end_control_panel #orderdetail #table_0 a,
#back_end_control_panel #orderdetail #eat_in a {
	font-weight: bold;
}
#back_end_control_panel #orderdetail #take_out {
	width: 206px;
	display: inline-block;
}
#back_end_control_panel #orderdetail #eat_in {
	min-height: 600px;
	max-height: 800px;
	width: 1800px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending {
	background: #000; /* fff369 */
	border: 1px solid #d5c737;
	padding: 10px;
	margin-bottom: 10px;
	max-height: 800px;
	/* overflow: scroll; */
}
#back_end_control_panel #orderdetail #take_out #table_0_pending #total_pending {
	float: right;
	color: #fff;
	background: #ff0000;
	display: inline-block;
	padding: 1px 4px;
	border: 1px solid #f00000;
}
#back_end_control_panel #orderdetail #table_0 {
	margin: 10px 5px;
	display: inline-block;
	padding: 0 10px;
	min-height: 600px;
	background: #000;
	width: 1550px;
	max-height: 800px;
    /* overflow: scroll; */
    font-size: 12px !important;
}
#back_end_control_panel #orderdetail #table_0 .kitchen_process {
	background: #000;
}
#back_end_control_panel #orderdetail #table_0 h5,
#back_end_control_panel #orderdetail #table_0_pending h5 {
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
	color: #fff;
}
#back_end_control_panel #orderdetail #table_0 .single_takeout {
	width: 206px;
	padding: 3px;
	border: 1px solid #000;
	margin: 0 0 10px 0;
	display: inline-block;
	vertical-align: top;
	background: #fff;
}
#back_end_control_panel #orderdetail #table_0 .single_takeout p.red {
	color: #ff0000;
	font-weight: bold;
}
#back_end_control_panel #orderdetail #table_0 .single_takeout p.red .finish_order {
	color: #000;
}
#back_end_control_panel #orderdetail #table_0 .single_takeout p .alias {
	color: #fff;
	background: #000;
	display: inline-block;
	padding: 0 5px;
	margin-left: 5px;
}
#back_end_control_panel #orderdetail #table_0 .single_takeout .finish_order,
#back_end_control_panel #orderdetail #table_0 .single_takeout .remove_order,
#back_end_control_panel #orderdetail .finish_all {
	float: right;
	padding: 0 5px;
	background: #f0f0f0;
	border: 1px solid #aaa;
	cursor: pointer;
	font-weight: normal;
	line-height: 18px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_takeout {
	width: 100%;
	display: inline-block;
	border: 1px solid #777;
	margin-bottom: 3px;
	background: #fff369;
	padding: 0;
	/* padding: 3px; */
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p span.order_method {
	float: right;
	font-weight: bold;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p span.order_method.delivery {
	background-color: cornflowerblue;
	padding: 2px;
	color: #333;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p {
	margin-bottom: 1px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form input.order_approve {
	margin-left: 5px;
	padding: 3px 4px;
	margin-right: 2px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_detail {
	text-align: center;
	width: 100%;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_detail .user_name,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_detail .user_tel {
	display: inline-block;
	text-decoration: underline;
	font-weight: bold;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_detail .user_tel {
	padding-left: 5px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_detail .remarks {
	background: #f0f0f0;
	padding: 1px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	display: inline-block;
	width: 100%;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form p.user_address {
	background: #fff;
	margin-bottom: 5px;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending form .cancel_order {
	color: #d61111;
	text-decoration: underline;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish {
	margin: 0;
	/* margin: 1px 0; */
	border: 1px solid transparent;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_qty,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_alpha,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_name,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish a.erase_dish {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_qty {
	width: 20%;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_alpha {
	width: 25%;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish a.erase_dish {
    width: 10%;
    color: #fff;
    background: #d61111;
    border: 1px solid #999;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_name {
	width: 45%;
}
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.dish_price,
#back_end_control_panel #orderdetail #take_out #table_0_pending .single_pending p.single_pending_dish span.eng_name {
	display: none !important;
}
#back_end_control_panel #orderdetail #eat_in .table_1,
#back_end_control_panel #orderdetail #eat_in .table_2,
#back_end_control_panel #orderdetail #eat_in .table_3,
#back_end_control_panel #orderdetail #eat_in .table_4,
#back_end_control_panel #orderdetail #eat_in .table_5,
#back_end_control_panel #orderdetail #eat_in .table_6,
#back_end_control_panel #orderdetail #eat_in .table_7,
#back_end_control_panel #orderdetail #eat_in .table_8 {
	width: 206px;
	display: inline-block;
	vertical-align: top;
	margin-right: 1px;
	padding: 3px;
	background: #fff;
}
#back_end_control_panel #orderdetail #eat_in h5 {
	font-weight: bold;
	margin-bottom: 0;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs {
	border-bottom: 1px solid #777;
	padding-top: 1px;
	padding-bottom: 2px;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li {
	margin-right: 1px;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li > a {
	border-radius: 0;
	border-width: 2px;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li.active > a,
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li.active > a:focus,
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li.active > a:hover {
	border: 2px solid #333;
	border-radius: 0;
	margin-bottom: 0;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs > li > a.red {
	color: #fff;
	background: #ff0000;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs li {
	width: auto;
}
#back_end_control_panel #orderdetail #eat_in .nav-tabs li a {
	padding: 10px;
	line-height: 1;
	color: #333;
	margin-right: 0;
}
#back_end_control_panel #orderdetail #eat_in .tab-content > .tab-pane {
	display: block; border-bottom: 3px solid #000;
}
#back_end_control_panel #orderdetail .single_dish.done {
	background: #00ee00;
}
/*  ---------- Kitchen Status page ----------  */
body.black {
	background: #111 !important;
}
#back_end_control_panel .tab-content {
	/* overflow: scroll; */
}
#back_end_control_panel .tab-content #kitchen.bbq_only {
	width: 100%;
}
#back_end_control_panel .tab-content #kitchen.bbq_only .catagory {
	width: 100%;
}
#back_end_control_panel .tab-content #kitchen.bbq_only .catagory .single_dish {
	width: 320px;
	border-bottom: 1px solid #ccc;
}
#back_end_control_panel .tab-content #kitchen {
	background: #111;
	min-height: 900px;
	color: #fff;
	width: 2800px;
	display: block;
}
#back_end_control_panel #kitchen h5 {
	font-size: 20px;
}
#back_end_control_panel #kitchen .catagory {
	width: 320px; /* 16.3% */
	display: inline-block;
	vertical-align: top;
}
#back_end_control_panel #kitchen .catagory:nth-child(7) {
	position: relative;
	right: 323px;
}
#back_end_control_panel #kitchen .catagory:nth-child(8) {
	position: relative;
	right: 323px;
}
#back_end_control_panel #kitchen .single_dish:nth-child(2) {
	border-top: 1px solid #aaa !important;
}
#back_end_control_panel #kitchen .single_dish {
	width: 100%;
	display: inline-block;
	font-size: 20px;
	padding: 2px 0px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #333;
}
#back_end_control_panel #kitchen .single_dish:last-child {
	border-bottom: 1px solid #ccc;
}
#back_end_control_panel #kitchen .single_dish .left_dish,
#back_end_control_panel #kitchen .single_dish .right_dish {
	vertical-align: middle;
	line-height: 30px;
}
#back_end_control_panel #kitchen .single_dish .left_dish {
	width: 140px; /* 177px */
	display: inline-block;
}

#back_end_control_panel #kitchen .single_dish .left_dish .totalnum {
	font-size: 24px;
	font-weight: bold;
	color: #00ff00;
}
#back_end_control_panel #kitchen .single_dish .right_dish {
	display: inline-block;
	width: 170px;
}
#back_end_control_panel #kitchen .single_dish .right_dish .unit { /* width modified *** */
	width: 51px; /* used to be 78px */
	display: inline-block;
	text-align: right;
	margin-bottom: 2px;
}
#back_end_control_panel #kitchen .single_dish .right_dish .table {
	color: #ffee00; font-family: 'serif', arial; font-weight: bold;
}
#back_end_control_panel #kitchen .single_dish .qty {
	background: #f0f0f0;
	color: #000;
	/* padding: 0 10px; */
	width: 29.5px;
	display: inline-block;
	text-align: center;
}

/*  ---------- Dish Modify ----------  */
#back_end_control_panel #dishesmodify {

}
#back_end_control_panel #dishesmodify .single_dish .inline {
	display: inline-block;
	width: 8%;
	overflow: hidden;
}
